/* CSS Document */

/* helper style */
.col {
	background: #ccc;
	box-sizing: border-box;
	}
	
/* main styles */

body {
	font-family:"Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif";
	text-align: "left";
}
	
header {
	height: 10em; /* 16*6=96px */
	text-align: center;
	padding: 1em;
	margin-bottom: .5em;
	background: #FF5722;
	}

#header-banner {background: #fff;}	
	
#container {
	width: 80%;
	margin: 0 auto;
	}	
	
nav {
	margin-bottom: .5em;
	}	

nav .col {
	background: none;
	border: 1px solid #555;
	text-align: center;
	box-sizing: border-box;
	padding: .1em;
		}
		
#banner {
	height: 1em;
	margin-bottom: .5em;
	background: #ddd;
	}
	
#main .col {
	height: 12em;
	}	


/* type styles */

h1 {
	font-size: 3em; /* 3*16=48px */
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: .5em;
	}

header h2 {
	font-size: 2.0em;
	text-transform: uppercase;
	font-family: impact;
	}

h2 {
	font-size: 2em;
	}



	
	
	
	
	
			